<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h2><%= method %> result page</h2>
        <p>ID: <%= id %></p>
        <p>비밀번호: <%= pwd %></p>
    </body>
</html>